body {
    margin: 0rem;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
}

.container {
    width: 80%;
    height: 96%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2% 10%;
}